{% extends "base.html" %}

<body>
{% block content %}

<div class="container" align="center">
  <img src={{ url_for('static', filename='logo.jpg') }}>
    <title>QuickGig</title>
    <h1>QuickGig</h1>
</p>
The talent you need.
The flexibility you want.
<p>QuickGig matches professionals to businesses seeking specialized talent.

<form action="" method="post" novalidate><br>
<div class="form-group">
{{ form.hidden_tag() }}
{{ form.username.label(class="sr-only") }}
<div class="col-sm-4 col-sm-offset-4">
{{ form.username(size=32, class="form-control", placeholder="Username") }}
{% for error in form.username.errors %} [{{ error }}] {% endfor %}
</div>
</div>

<div class="form-group">
<div class="col-sm-4 col-sm-offset-4">
{{ form.password.label(class="sr-only") }}
{{ form.password(size=32, class="form-control", placeholder="Password") }}
{% for error in form.password.errors %} [{{ error }}] {% endfor %}
</div>
</div>

<div class="form-check">
{{ form.remember_me(class="form-check-input") }}
{{ form.remember_me.label(class="form-check-labe") }}
</div>
  

{{ form.submit(class="btn btn-primary") }}
</form>
<p>
  <p><small>Forgot Your Password? <a href="{{url_for('auth.password_reset_request') }}">Click to reset password</a></small></p>
  <p><small>New to QuickGig? <a href="{{ url_for('auth.signup') }}">Click here to sign up!</a></small></p>

</div>

{% endblock %}

  </body>
</html>