{% extends "base.html" %}

{% block content %}
  <div class="container" align="center">
  <h1>Unlock the power of the Gig Economy</h1>
  <h4>Sign up and get your free QuickGig account.</h4><br>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
    <div class="col-sm-4 col-sm-offset-4">
      {{ form.username(size=32, class="form-control", placeholder="Username") }}<br>
	  {% for error in form.username.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
	  </div>
    </p>
    <p>
    <div class="col-sm-4 col-sm-offset-4">
	  {{ form.email(size=32, class="form-control", placeholder="Email") }}<br>
      {{ form.first_name.label }}<br>
      {{ form.first_name(size=32) }}<br>
	  {% for error in form.first_name.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
     </p>
     <p>
      {{ form.last_name.label }}<br>
      {{ form.last_name(size=32) }}<br>
    {% for error in form.last_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>

    <p>
	  {{ form.email.label }}<br>
	  {{ form.email(size=32) }}<br>
	  {% for error in form.email.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
	</div>
	</p>
	<p>	 
	<div class="col-sm-4 col-sm-offset-4">
      {{ form.password(size=32, class="form-control", placeholder="Password") }}<br>
	  {% for error in form.password.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
	</div>
    </p>
    <p>	  
    <div class="col-sm-4 col-sm-offset-4">
      {{ form.password2(size=32, class="form-control", placeholder="Re-type Password") }}<br>
	  {% for error in form.password2.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
	</div>
    </p>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
  </form>
  </div>
{% endblock %}
