<div class="container" align="left">
   <div class="list-group">
       <a href="{{ url_for('main.detail', id=gig.id) }}" class="list-group-item list-group-item-action">
           <div class="d-flex w-100 justify-content-between">
           <small>Start Date: {{  gig.start_date }}</small>
           <small>Gig Type: {{  gig.type_name }}</small>
   </div><br>
   <h5 class="mb-1">{{ gig.employer.username }} is hiring:<br></h5>

   {{ gig.detail }}<br>
   <br>
   <p>{{ gig.neighborhood_name }}</p>

  </a>
  </div>
  </div>
