


<div class="container" align="left">
   <div class="list-group">
       <a href="{{ url_for('main.index') }}" class="list-group-item list-group-item-action">
           <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1">{{ gig.employer.username }} needs help with:<br></h5>
           <small>Start Date: {{  gig.start_date }}</small>
   </div>
   {{ gig.detail }}
    <p><small>{{ gig.employer.username }}, {{ gig.neighborhood_id }}</small></p>
  </a>
  </div>
  </div>


<!-- <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=gig.employer.username) }}">
                    <img src="{{ gig.employer.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=gig.employer.username) }}">
                        {{ gig.employer.username }}
                    </a>
                {% endset %} -->