
<body>
<p class="p1"><span class="s1">{% if title %} {% else %} {% endif %}</span></p>
<p class="p1"><span class="s1">QuickGig: <a href="file:///Users/Lisa/quickgigcopy/app/templates/%7B%7B%20url_for('index')%20%7D%7D"><span class="s2">Home</span></a> {% if current_user.is_anonymous %} <a href="file:///Users/Lisa/quickgigcopy/app/templates/%7B%7B%20url_for('login')%20%7D%7D"><span class="s2">Login</span></a> {% else %} <a href="file:///Users/Lisa/quickgigcopy/app/templates/%7B%7B%20url_for('user',%20username=current_user.username)%20%7D%7D"><span class="s2">Profile</span></a> <a href="file:///Users/Lisa/quickgigcopy/app/templates/%7B%7B%20url_for('logout')%20%7D%7D"><span class="s2">Logout</span></a> {% endif %}<span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s1"></span><br></p>


<p class="p1"><span class="s1">{% with messages = get_flashed_messages() %} {% if messages %}</span></p>
<ul class="ul1">
  <li class="li1"><span class="s3"></span><span class="s1">{% for message in messages %}</span></li>
  <li class="li1"><span class="s3"></span><span class="s1">{{ message }}</span></li>
  <li class="li1"><span class="s3"></span><span class="s1">{% endfor %}<span class="Apple-converted-space"> </span></span></li>
</ul>
<p class="p1"><span class="s1">{% endif %} {% endwith %} {% block content %}{% endblock %}<span class="Apple-converted-space"> </span></span></p>
</body>
</html>
