{% extends "base.html" %}

{% block content %}
<div class="container" align="left">
   <div class="list-group">
       <div class="list-group-item list-group-item-action">
           <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1"> <a href="{{ url_for('main.user', username=gig.employer.username) }}"> {{ gig.employer.username }}</a>
            needs help with:<br></h5>
           </div>
   {{ gig.detail }}<br></p>
   Start Date: {{  gig.start_date }}<br>
   Gig Type: {{  gig.type_name }}<br>
   Neighborhood: {{ gig.neighborhood_name }}<br>
   Employer Name: {{  gig.employer_first_name }} {{  gig.employer_last_name }}<br>
<br>
   <h5 align="center">To apply for this gig, email {{ gig.employer.username }} at <a href = "mailto: {{ gig.employer.email }}">{{ gig.employer.email }}</a></h5>
 </div>
</div>
  </div>
{% endblock %}
