{% extends "base.html" %}

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

{% block content %}
  <h1>Hello, {{ current_user.username }}!</h1>
  {% for gig in gigs %}
  <div><p>{{ gig.employer.username }} has a gig for you: <b>{{ gig.detail }}</b></p></div>
  {% endfor %}
{% endblock %}