{% extends "base.html" %}

{% block content %}
  <h1>Hello, {{ current_user.username }}!</h1>
  {% if form %}
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{form.gig.label }}<br>
      {{ form.gig(cols=32, rows=8) }}<br>
      {% for error in form.gig.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
  </form>
  
  {% endif %}
  {% for gig in gigs %}
    {% include '_gig.html' %}
  {% endfor %}
  {% if prev_url %}
  <a href="{{ prev_url }}">Newer gigs</a>
  {% endif %}
  {% if next_url %}
  <a href="{{next_url }}">Older gigs</a>
  {% endif %}
    <div class="container" align="left">
    <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>
</div>

{% endblock %}