{% extends "base.html" %}

{% block content %}

  <div class="container" align="left">
  <h1>Hello, {{ current_user.username }}!</h1> <br>

  <h4>Find a Gig. Search available Gigs by neighborhood and type.</h4><br>
        {% if form %}
        <form action="" method="post">
          {{ form.hidden_tag() }}
            <div class="form-group">
            {{form.neighborhood_search.label()  }}
            {{ form.neighborhood_search(class="form-control") }}
            {% for error in form.neighborhood_search.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
			{{form.type_search.label }}
            {{ form.type_search(class="form-control") }}
            {% for error in form.type_search.errors %}
            <span style="color: red;">[{{ error }}]</span>
			{% endfor %}
            </div>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
        {% endif %}
        </div>

{% endblock %}
