{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container-fluid">

  <h1>Sign Up</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
	  {% for error in form.username.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
    </p>
    <p>
	  {{ form.email.label }}<br>
	  {{ form.email(size=32) }}<br>
	  {% for error in form.email.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
	</p>
	<p>	  
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>
	  {% for error in form.password.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
    </p>
    <p>	  
      {{ form.password2.label }}<br>
      {{ form.password2(size=32) }}<br>
	  {% for error in form.password2.errors %}
	  <span style="color: red;">[{{ error }}]</span>
	  {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</div>

<div class="container-fluid">

<div class="list-group">
  <a href=""{{ url_for('login') }}" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="www.google.com" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">9 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>

{% endblock %}
